.DS_STORE
.env
.env.*
.envrc
.idea/
.tags
.tmp
.vagrant
.vscode
*.iml
*.log
*.orig
api/logs/*
bootstrap.sh
debug/*
dist/
dump.rdb
node_modules
npm-debug.log*
package-lock.json
pids/
static/logos/*.*
storage/*.*
storage/**/*.csv
uploads/*
Vagrantfile
webpack-assets.json
webpack-stats.json
